html {
    margin: 0;
    width: 100%;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    color: rgb(31, 49, 66);
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
}

header {
    background-color: rgb(31, 49, 66);
    display: flex;
    gap: 40%;
    flex-direction: row;
    padding: 13px 0;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 5;
    margin-bottom: 20px;
}

header div.logo {
    font-size: 30px;
    padding-top: 8px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div.logo a:hover {
    color: rgb(128 119 252);
}

span.one {
    color: aqua;
    animation: miova 1.4s ease-in alternate infinite;
}

@keyframes miova {
    0% {
        color: aqua;
    }

    50% {
        color: rgb(255, 127, 127);
    }

    100% {
        color: rgb(41, 51, 189);
    }
}

span.two {
    color: rgb(128 119 252);
}

header div.nav {
    display: flex;
    gap: 30px;
    flex-direction: row;
    border-radius: 0 0 20px 20px;
    margin-right: 20px;
}

header a {
    text-decoration: none;
    justify-self: right;
    color: rgb(255, 255, 255);
    font-size: 24px;
    padding: 10px 0;
    transition: 500ms ease-in-out;
}

.nom {
    padding: 0 10px;
    border-radius: 5px;
    background-color: rgb(128 119 252);
    color: white;
    transition: 600ms ease-in-out;
    cursor: default;
}

.nom:hover {
    background-color: rgb(31, 49, 66);
}

div.nav a:hover {
    color: rgb(128 119 252);
}

section {
    scroll-snap-align: start;
    height: 100vh;
}

div.en_tete {
    display: flex;
    flex-direction: row-reverse;
    gap: 7cm;
    justify-self: center;
    margin-top: 10%;
    overflow: hidden;
    border-radius: 20px;
    padding: 20px;
}

div.flex-left {
    width: 500px;
    margin-top: 7%;
}

div.flex-left::after {
    content: '';
    margin-top: -50mm;
    margin-left: -10mm;
    z-index: -1;
    width: 600px;
    position: absolute;
    border-radius: 30px;
    height: 300px;
    filter: drop-shadow(14px 9px 0px rgba(149, 145, 233, 0.719));
    background-image: linear-gradient(to right, white, rgb(128, 119, 252));
}

div.flex-left::before {
    content: '';
    margin-top: 2mm;
    margin-left: -4mm;
    z-index: -1;
    width: 600px;
    position: absolute;
    border-radius: 30px;
    height: 300px;
    background-color: rgba(135, 130, 226, 0.616);
}

section.sentence {
    font-weight: bolder;
    font-size: 19px;
    margin-top: 30px;
    width: 80%;
    justify-self: center;
}

div.ma_section {
    display: flex;
    flex-direction: column;
}

div.ma_section div.contact {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;
    gap: 15px;

}

div.ma_section div img {
    height: 20px;
    width: 20px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    transition: 500ms ease-in;
    box-shadow: inset 20px -14px 20px -5px rgb(40 110 201);
}

div.ma_section div img:hover {
    background-color: rgb(128 119 252);
    scale: 1.05;
}

div.ma_section img.my_pict {
    height: 300px;
    width: auto;
    object-fit: contain;
    border-radius: 0 0 50% 30%;
    position: relative;
}

div.en_tete div.bottum {
    background-color: rgb(128 119 252);
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    transition: 500ms ease-in-out;
}

div.en_tete div.bottum:hover {
    background-color: rgb(126, 180, 211);
}

div p.intro {
    font-size: 30px;
    font-weight: bolder;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

a {
    text-decoration: none;
    color: black;
}

section.sentence {
    height: 100vh;
}

section.competence {
    scroll-snap-align: start;
    height: 300px;
    width: 90%;
    justify-self: center;
    padding-top: 5%;
    border-radius: 20px;
    position: relative;
    background-color: aliceblue;
}

div.container img {
    height: 45px;
    width: 45px;
    padding-top: 10px;
    padding-left: 15px;
}

div.container {
    justify-content: center;
    display: grid;
    height: fit-content;
    column-gap: 100px;
    row-gap: 20px;
    grid-template-columns: repeat(2, 400px);
}

div.container div {
    display: flex;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    gap: 50%;
    background-color: rgb(31, 49, 66);
    border-radius: 20px;
}