html {
    margin: 0;
    width: 100%;
    scrollbar-width: none;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    width: 100vh;
    height: 100vh;
    border-radius: 0 49% 48% 47%;
    z-index: -1;
    background-color: rgb(29, 180, 137);
    margin-left: -20px;
}

header div.nav {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-self: right;
    background-color: rgb(81 72 98);
    border-radius: 0 0 20px 20px;
}

a {
    text-decoration: none;
    justify-self: right;
    color: rgb(202, 231, 223);
    font-size: 24px;
    padding: 10px;
    transition: 300ms ease-in-out;
    border-radius: 0 0 20px 20px;
}

div.nav a:hover {
    color: rgb(255, 255, 255);
    background-image: linear-gradient(180deg, rgb(81 72 98), rgb(29, 180, 137));
}

section.en_tete {
    min-height: 100vh;
}

div.en_tete {
    display: flex;
    flex-direction: column-reverse;
    gap: 100px;
}