html {
    margin: 0;
    width: 100%;
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    color: var(--color-text);
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-attachment: fixed;
}

:root {
    --color-text1: white;
    --color-text: rgb(31, 49, 66);
    --background-header: rgb(31, 49, 66);
    --color-hover: rgb(128 119 252);
    --background-section: aliceblue;
    --background-bottum-hover: rgb(175 201 235);
}

header {
    background-color: var(--background-header);
    display: flex;
    gap: 40%;
    flex-direction: row;
    padding: 13px 0;
    padding-bottom: 30px;
    justify-content: center;
    position: fixed;
    width: 100%;
    align-self: center;
    z-index: 5;
    margin-bottom: 20px;
    clip-path: ellipse(75% 100% at 50% 0%);
    transition: all 1s ease-in-out;
}

header:hover {
    height: 50px;
}

header div.logo {
    font-size: 30px;
    padding-top: 8px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div.logo a:hover {
    color: var(--color-hover);
}

span.one {
    color: aqua;
    animation: miova 1.4s ease-in alternate infinite;
}

@keyframes miova {
    0% {
        color: aqua;
    }

    50% {
        color: rgb(255, 127, 127);
    }

    100% {
        color: rgb(41, 51, 189);
    }
}

span.two {
    color: var(--color-hover);
}

header div.nav {
    display: flex;
    gap: 30px;
    flex-direction: row;
    border-radius: 0 0 20px 20px;
    margin-right: 20px;
}

header a {
    text-decoration: none;
    justify-self: right;
    color: var(--color-text1);
    font-size: 24px;
    padding: 10px 0;
    transition: 500ms ease-in-out;
}

.nom {
    padding: 0 10px;
    border-radius: 5px;
    background-color: var(--color-hover);
    color: var(--color-text1);
    transition: 600ms ease-in-out;
    cursor: default;
}

.nom:hover {
    background-color: var(--background-header);
}

div.nav a:hover {
    color: var(--color-hover);
}

section {
    scroll-snap-align: start;
    height: 500px;
    scroll-margin-top: 100px;
}

div.en_tete {
    display: flex;
    flex-direction: row-reverse;
    gap: 7cm;
    justify-self: center;
    margin-top: 10%;
    overflow: hidden;
    border-radius: 20px;
    padding: 20px;
}

div.flex-left {
    width: 500px;
    margin-top: 7%;
}

div.flex-left::after {
    content: '';
    margin-top: -50mm;
    margin-left: -10mm;
    z-index: -1;
    width: 600px;
    position: absolute;
    border-radius: 30px;
    height: 300px;
    filter: drop-shadow(14px 9px 0px rgba(149, 145, 233, 0.904));
    background-image: linear-gradient(to right, white, rgb(128, 119, 252));
}

div.flex-left::before {
    content: '';
    margin-top: 2mm;
    margin-left: -3.5mm;
    z-index: -1;
    width: 600px;
    position: absolute;
    border-radius: 30px;
    height: 300px;
    background-color: rgba(135, 130, 226, 0.616);
}

section.sentence {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 3cm;
    justify-self: center;
    align-items: center;
    justify-content: center;
    height: 600px;
    border-radius: 20px;
    background-color: var(--background-section);
}

section.sentence div.moi {
    border: solid 0.03mm rgba(221, 227, 233, 0.575);
    border-radius: 10px;
    width: 60%;
    margin-top: 20px;
    padding: 10px;
}

section.sentence p {
    font-size: 18px;
    font-weight: light;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

section.sentence div.etude {
    display: flex;
    flex-direction: row;
    gap: 5cm;
}

div.ma_section {
    display: flex;
    flex-direction: column;
}

div.ma_section div.contact {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;
    gap: 15px;

}

div.ma_section div img {
    height: 20px;
    width: 20px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    transition: 500ms ease-in;
    box-shadow: inset 20px -14px 20px -5px rgb(40 110 201);
}

div.ma_section div img:hover {
    background-color: var(--color-hover);
    scale: 1.05;
}

div.ma_section img.my_pict {
    height: 300px;
    width: auto;
    object-fit: contain;
    border-radius: 0 0 50% 30%;
    position: relative;
}

div.en_tete div.bottum {
    background-color: var(--color-hover);
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    transition: 500ms ease-in-out;
}

div.en_tete div.bottum:hover {
    background-color: var(--background-bottum-hover);
}

div p.intro {
    font-size: 30px;
    font-weight: bolder;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

a {
    text-decoration: none;
    color: black;
}

section.competence {
    scroll-snap-align: start;
    justify-content: center;
    height: 100vh;
    width: 90%;
    justify-self: center;
    border-radius: 20px;
    position: relative;
    background-color: var(--background-section);
}

div.container img {
    height: 45px;
    width: 45px;
    padding-top: 10px;
    padding-left: 15px;
}

div.container {
    justify-content: center;
    display: flex;
    justify-self: center;
    gap: 20px;
    flex-direction: column;
    width: 30%;
    margin-top: 130px;
}

div.container div {
    display: flex;
    color: var(--color-text1);
    font-size: 20px;
    font-weight: bolder;
    gap: 50%;
    background-color: var(--background-header);
    border-radius: 20px;
    box-shadow: 1px 10px 9px -3px #09141e;
    transition: 600ms ease-in-out;
}

div.framer {
    columns: 1, 2;
}

section.projet {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8cm;
    background-color: var(--background-section);
    width: 90%;
    justify-self: center;
    border-radius: 20px;
    margin-top: 30px;
}

section.projet ul.ttl {
    list-style: none;
}

div.img_pro {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

div.img_pro img {
    width: 250px;
    object-fit: contain;
    height: auto;
    border-radius: 5px;
}

div.img_pro p {
    padding: 20px;
    font-weight: bolder;
}

div.img_pro div {
    width: 250px;
    background-color: var(--color-hover);
    border-radius: 5px;
    height: 350px;
}

div.container div:hover {
    transform: translateY(2px);
}

section.contact {
    display: flex;
    flex-direction: row;
    gap: 5cm;
    justify-content: center;
    align-items: center;
    background-color: var(--background-section);
    width: 90%;
    justify-self: center;
    border-radius: 20px;
    margin-top: 30px;
}

section.contact aside.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: var(--background-header);
    padding: 20px;
    color: white;
    border-radius: 15px;
    transition: 600ms ease-in-out;
}

section.contact aside.form:hover {
    filter: drop-shadow(0px 1px 10px rgba(128, 119, 252, 0.699));
}

section.contact aside p {
    font-weight: bold;
    font-size: 18px;
}

section.contact form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

section.contact input {
    padding-bottom: 15px;
    padding-top: 15px;
    color: rgb(255, 255, 255);
    background-color: var(--color-hover);
    border: none;
    border-radius: 50px;
    text-align: center;
    font-family: inherit;
}

section.contact textarea {
    height: 100px;
    resize: vertical;
    padding-left: 20px;
}

section.contact button {
    background-color: var(--color-hover);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 60%;
    margin-top: 30px;
    align-self: center;
    font-weight: bold;
    transition: all 0.5s ease;
}

section.contact button:active {
    outline: none;
}

section.contact button:hover {
    background-color: var(--background-bottum-hover);
    color: var(--color-text);
}

aside.aside1 {
    background-color: var(--color-hover);
    width: 270px;
    height: 421px;
    border-radius: 15px;
    justify-content: center;
    justify-items: center;
    transition: all 500ms ease-in-out;
    color: var(--color-text1);
}

aside.aside1:hover {
    filter: drop-shadow(0px 0px 5px rgba(128, 119, 252, 0.699));
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: -1px;
    background-color: var(--background-header);
    color: white;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    margin-top: 30px;
}