html {
    margin: 0;
    width: 100%;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    width: 150vh;
    height: 150vh;
    transform: rotate(66deg);
    z-index: -1;
    background-color: rgb(29, 180, 137);
    margin-left: -13cm;
}

header div.nav {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-self: right;
    border-radius: 0 0 20px 20px;
    position: fixed;
    margin-right: 20px;
}

a {
    text-decoration: none;
    justify-self: right;
    color: rgb(40, 201, 155);
    font-size: 24px;
    padding: 10px;
    transition: 500ms ease-in-out;
    border-radius: 0 0 20px 20px;
}

div.nav a:hover {
    color: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgb(255, 255, 255), rgb(29, 180, 137));
}

section.en_tete {
    min-height: 100vh;
}

div.en_tete {
    display: flex;
    flex-direction: row-reverse;
    gap: 7cm;
    justify-self: center;
    margin-top: 5%;
    overflow: hidden;
    background-color: rgba(228, 247, 237, 0.596);
    border-radius: 20px;
    padding: 20px;
}

div.ma_photos {
    display: flex;
    flex-direction: column;
}

div.ma_photos div {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;
}

div.ma_photos div img {
    height: 20px;
    width: 20px;
    object-fit: contain;
    background-color: rgb(29, 180, 137);
    padding: 5px;
    border-radius: 5px;
    transition: 500ms ease-in;
}

div.ma_photos div img:hover {
    background-color: rgb(166, 199, 189);
    transform: translateY(-2px);
}

div.en_tete img {
    height: 400px;
    width: auto;
    object-fit: contain;
}

div p.intro {
    font-size: 45px;
    font-weight: bolder;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}