html {
    margin: 0;
    width: 100%;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

html::-webkit-scrollbar {
    width: 5px;
}

html::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
}

html::-webkit-scrollbar-thumb {
    background: rgba(128, 119, 252, 0.5);
    border-radius: 4px;
}

html::-webkit-scrollbar-thumb:hover {
    background: rgba(128, 119, 252, 0.8);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    color: var(--color-text);
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-attachment: fixed;
}

main {
    flex: 1;
}

:root {
    --color-text1: white;
    --color-text: rgb(31, 49, 66);
    --background-header: rgb(31, 49, 66);
    --color-hover: rgb(128 119 252);
    --background-section: rgb(218, 235, 250);
    --background-bottum-hover: rgb(175 201 235);
}

/*--Header style--*/
header {
    background-color: var(--background-header);
    display: flex;
    gap: 40%;
    flex-direction: row;
    padding: 13px 0;
    padding-bottom: 30px;
    justify-content: center;
    position: fixed;
    width: 100%;
    align-self: center;
    z-index: 5;
    margin-bottom: 20px;
    clip-path: ellipse(75% 100% at 50% 0%);
    transition: all 1s ease-in-out;
}

header div.logo {
    font-size: 30px;
    padding-top: 8px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div.logo a:hover {
    color: var(--color-hover);
}

span.one {
    color: aqua;
    animation: miova 1.4s ease-in alternate infinite;
}

span.two {
    color: var(--color-hover);
}

header div.nav {
    display: flex;
    gap: 30px;
    flex-direction: row;
    border-radius: 0 0 20px 20px;
    margin-right: 20px;
}

header a {
    text-decoration: none;
    justify-self: right;
    color: var(--color-text1);
    font-size: 24px;
    padding: 10px 0;
    transition: 500ms ease-in-out;
}

header div.menu-bottum img {
    height: 0;
    display: none;
}

@keyframes miova {
    0% {
        color: aqua;
    }

    50% {
        color: rgb(255, 127, 127);
    }

    100% {
        color: rgb(41, 51, 189);
    }
}

.nom:hover {
    background-color: var(--background-header);
}

.lien1 {
    animation: apparition ease-in-out 500ms;
}

.lien2 {
    animation: apparition ease-in-out 600ms;
}

.lien3 {
    animation: apparition ease-in-out 700ms;
}

.lien4 {
    animation: apparition ease-in-out 800ms;
}

div.nav a:hover {
    color: var(--color-hover);
}

section {
    scroll-snap-align: start;
    height: 500px;
    scroll-margin-top: 100px;
}

/* --Premier section-- */
div.en_tete {
    display: flex;
    flex-direction: row-reverse;
    gap: 7cm;
    justify-self: center;
    margin-top: 10%;
    overflow: hidden;
    border-radius: 20px;
    padding: 20px;
}

.nom {
    padding: 0 10px;
    border-radius: 5px;
    background-color: var(--color-hover);
    color: var(--color-text1);
    transition: 600ms ease-in-out;
    cursor: default;
}

div.flex-left {
    opacity: 0;
    transform: translateY(-5px);
    width: 500px;
    margin-top: 7%;
    animation: apparition1 ease-in-out 600ms forwards;
    animation-delay: 300ms;
}

div.ma_section {
    display: flex;
    flex-direction: column;
}

div.ma_section div.contact {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;
    gap: 15px;

}

div.ma_section div img {
    height: 20px;
    width: 20px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    transition: 500ms ease-in;
    box-shadow: inset 20px -14px 20px -5px rgb(40 110 201);
}

div.flex-left::after {
    content: '';
    margin-top: -70mm;
    margin-left: -10mm;
    z-index: -1;
    width: 600px;
    position: absolute;
    border-radius: 30px;
    height: 300px;
    filter: drop-shadow(14px 9px 0px rgba(149, 145, 233, 0.904));
    background-image: linear-gradient(to right, white, rgb(128, 119, 252));
}

div.flex-left::before {
    content: '';
    margin-top: 2mm;
    margin-left: -3.5mm;
    z-index: -1;
    width: 600px;
    position: absolute;
    border-radius: 30px;
    height: 300px;
    background-color: rgba(135, 130, 226, 0.616);
}

div.ma_section div img:hover {
    background-color: var(--color-hover);
    scale: 1.05;
}

div.ma_section img.my_pict {
    height: 330px;
    width: auto;
    object-fit: contain;
    border-radius: 0 0 50% 30%;
    position: relative;
}

div.en_tete div.bottum {
    background-color: var(--color-hover);
    border-radius: 20px;
    opacity: 0;
    transform: translateY(-9px);
    animation: apparition1 ease-in-out 600ms forwards;
    animation-delay: 380ms;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    transition: 500ms ease-in-out;
}

div.en_tete div.bottum:hover {
    background-color: var(--background-bottum-hover);
}

div p.intro {
    font-size: 43.9px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

div p.phrase {
    font-size: 18px;
    padding-left: 20px;
}


/* --Deuxième Section-- */
section.sentence {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 2cm;
    justify-self: center;
    align-items: center;
    justify-content: center;
    height: 600px;
    border-radius: 20px;
    background-color: var(--background-section);
}

section.sentence div.moi {
    border: solid 0.03mm rgba(221, 227, 233, 0.575);
    border-radius: 10px;
    background-color: var(--background-bottum-hover);
    width: 60%;
    margin-top: 20px;
    padding: 0 40px 40px 40px;
    transition: all 500ms ease;
}

section.sentence p {
    font-size: 18px;
    font-weight: light;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

section.sentence div.etude {
    display: flex;
    flex-direction: row-reverse;
    gap: 5.5cm;
    font-weight: bolder;
}


div.etude img {
    height: 80px;
}

div.etude div {
    height: 80px;
    align-content: center;
    padding-left: 20px;
    padding-right: 20px;
    border: solid 0.03mm rgba(221, 227, 233, 0.575);
}

div.etude div {
    transition: 500ms ease-in-out;
    border-radius: 10px;
    background-color: var(--background-bottum-hover);
}

div.etude div.etude1:hover {
    background-color: rgba(197, 211, 250, 0);
}

div.etude div.etude1 {
    background-color: rgba(255, 255, 255, 0);
}

div.etude img {
    transition: 500ms ease-in-out;
    border-radius: 10px;
    background-color: var(--color-text1);
}

div.etude div:hover,
section.sentence div.moi:hover,
div.etude img:hover {
    background-color: rgba(197, 211, 250, 0.596);
}

/* --- Animation sur la premiere section --- */
a.el1 {
    opacity: 0;
    transform: translateY(4px);
    animation: apparition1 ease-in-out 600ms forwards;
    animation-delay: 340ms;
}

a.el2 {
    opacity: 0;
    transform: translateY(4px);
    animation: apparition1 ease-in-out 700ms forwards;
    animation-delay: 340ms;
}

a.el3 {
    opacity: 0;
    transform: translateY(4px);
    animation: apparition1 ease-in-out 800ms forwards;
    animation-delay: 340ms;
}

a.el4 {
    opacity: 0;
    transform: translateY(4px);
    animation: apparition1 ease-in-out 900ms forwards;
    animation-delay: 340ms;
}

img.el5 {
    opacity: 0;
    transform: translateY(4px);
    animation: apparition1 ease-in-out 1s forwards;
    animation-delay: 380ms;
}

a {
    text-decoration: none;
    color: black;
}

/* --- Troisième section du main --- */
section.competence {
    height: 500px;
    width: 90%;
    margin-top: 50px;
    align-content: center;
    justify-self: center;
    border-radius: 20px;
    position: relative;
    background-color: var(--background-section);
}

h2.qui {
    font-size: 43.9px;
}

section.competence h2 {
    position: absolute;
    margin-top: -36mm;
    margin-right: -1px;
    padding: 10px;
    font-size: 30px;
    border-bottom-right-radius: 20px;
    background-color: white;
    height: 40px;
}

div.container img {
    height: 45px;
    width: 45px;
    padding-top: 10px;
    padding-left: 15px;
}

div.container {
    display: grid;
    justify-self: center;
    justify-content: center;
    gap: 20px;
    width: 30%;
    grid-template-columns: repeat(2, 100%);
}

div.container div {
    display: flex;
    color: var(--color-text1);
    font-size: 20px;
    font-weight: bolder;
    gap: 50%;
    background-color: var(--background-header);
    border-radius: 20px;
    transition: 600ms ease-in-out;
}

div.container div:hover {
    transform: scale(1.009);
}

div.framer {
    grid-column: 1/-1;
    width: 50%;
    justify-self: center;
}

/* --- Quatrième Section --- */
section.projet {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8cm;
    background-color: var(--background-section);
    width: 90%;
    justify-self: center;
    border-radius: 20px;
    margin-top: 30px;
}

section.projet ul.ttl {
    list-style: none;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    background-image: linear-gradient(to right, var(--background-section), var(--color-text1));
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    border-radius: 10px;
    cursor: default;
    transition: all 500ms ease-in-out;
}

div.img_pro div:hover {
    box-shadow: 1px 3px 20px 5px var(--background-bottum-hover);
    ;
}

div.img_pro {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

div.img_pro img {
    width: 250px;
    object-fit: contain;
    height: auto;
    border-radius: 5px;
}

div.img_pro p {
    padding: 20px;
    font-weight: bolder;
}

div.img_pro div {
    width: 250px;
    background-color: var(--color-hover);
    border-radius: 5px;
    height: 350px;
    transition: all 500ms ease-in-out;
}

/* --- Dérniere section du main --- */
section.contact {
    display: flex;
    flex-direction: row;
    gap: 5cm;
    justify-content: center;
    align-items: center;
    background-color: var(--background-section);
    width: 90%;
    justify-self: center;
    border-radius: 20px;
    margin-top: 30px;
}

section.contact aside.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: var(--background-header);
    padding: 20px;
    color: white;
    border-radius: 15px;
    transition: 600ms ease-in-out;
}

section.contact aside.form:hover {
    filter: drop-shadow(0px 1px 10px rgba(128, 119, 252, 0.699));
}

section.contact aside p {
    font-weight: bold;
    font-size: 18px;
}

section.contact form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

section.contact input {
    padding-bottom: 15px;
    padding-top: 15px;
    color: rgb(255, 255, 255);
    background-color: var(--color-hover);
    border: none;
    border-radius: 50px;
    text-align: center;
    font-family: inherit;
}

section.contact textarea {
    height: 100px;
    resize: vertical;
    padding-left: 20px;
}

section.contact button {
    background-color: var(--color-hover);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 60%;
    margin-top: 30px;
    align-self: center;
    font-weight: bold;
    transition: all 0.5s ease;
}

section.contact input:focus {
    outline: none;
}

section.contact button:hover {
    background-color: var(--background-bottum-hover);
    color: var(--color-text);
}

aside.aside1 {
    background-color: var(--background-header);
    width: 270px;
    height: 421px;
    border-radius: 15px;
    justify-content: center;
    justify-items: center;
    transition: all 500ms ease-in-out;
    color: var(--color-text1);
}

aside.aside1 p {
    border-bottom: solid 1mm rgb(255, 255, 255);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 1px;
}

aside.aside1:hover {
    filter: drop-shadow(0px 0px 10px rgba(128, 119, 252, 0.699));
}

div.ell1 {
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
}

div.ell2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
    justify-self: center;
}

div.ell1 a img {
    background-color: white;
    border-radius: 8px;
    padding: 5px 5px 5px 5px;
}

div.ell2 a img {
    background-color: white;
    padding: 5px;
    border-radius: 8px;
}

div.top p {
    width: 60px;
    justify-self: center;
}

div.top p,
div.bottom p {
    transition: all 400ms ease-in-out;
}

div.bottom:hover>p,
div.top:hover>p {
    border-bottom: solid 1mm var(--color-hover);
}

aside.aside1 img {
    transition: all 400ms ease-in;
}

aside.aside1 img:hover {
    background-color: #c7def8;
}

/* --- Footer --- */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: -1px;
    background-color: var(--background-header);
    color: white;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    margin-top: 30px;
    margin-bottom: -1px;
}

h2.qui1 {
    display: none;
}

/* --- Annimation --- */
@keyframes apparition {
    from {
        opacity: 0;
        transform: translateY(4px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes apparition1 {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* --- Resposive --- */

@media screen and (max-width:768px) {
    html {
        scrollbar-width: none;
        font-size: 16px;
    }

    main {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    header {
        position: fixed;
        clip-path: none;
    }

    header div.nav {
        display: none;
    }

    div.flex-left::after,
    div.flex-left::before {
        display: none;
    }

    section.competence,
    section.contact,
    section.projet,
    section.sentence {
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: auto;
        width: 95%;
        align-self: center;
    }

    /* First section */
    div.en_tete {
        flex-direction: column-reverse;
        gap: 20px;
    }

    div.flex-left {
        width: 100%;
        margin-top: 0;
    }

    div p.intro {
        font-size: 33px;
    }

    div.en_tete div.bottum {
        width: 70%;
        align-self: center;
    }

    /* Second section */
    section.sentence {
        margin-top: 300px;
        padding-bottom: 10px;
    }

    section.sentence div.moi {
        padding: 5px;
        width: 90%;
    }

    h2.qui {
        margin-top: 5px;
        font-size: 38px;
        justify-self: center;
        font-weight: bolder;
    }

    section.sentence p {
        font-size: 16px;
        text-align: center;
    }

    section.sentence div.etude {
        display: grid;
        grid-template-columns: repeat(2, 130px);
        gap: 10px;
    }

    div.etude div {
        align-items: center;
        justify-items: center;
    }

    div.etude div.etude1 {
        grid-column: 1/-1;
        align-items: center;
        justify-self: center;
    }

    /* Third section */
    section.competence h2 {
        position: relative;
        margin-top: -1px;
        margin-right: 0;
        padding: 10px;
        font-size: 28px;
        justify-self: center;
        border-bottom-left-radius: 20px;
    }

    section.competence {
        align-items: center;
        padding-bottom: 10px;
    }

    /* Fourth section */
    section.projet {
        padding-bottom: 20px;
    }

    div.container {
        display: flex;
        justify-self: center;
        justify-content: center;
        gap: 10px;
        width: 80%;
        flex-direction: column;
    }

    div.framer {
        width: 100%;
    }

    h2.qui1 {
        font-size: 30px;
        margin-top: -1px;
        display: block;
        background-color: white;
        padding: 10px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    section.projet ul.ttl {
        display: none;
    }

    div.img_pro {
        width: 250px;
        overflow-x: scroll;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        position: relative;
        scrollbar-width: none;
        position: relative;
    }

    div.img_pro::after {
        content: '';
        position: absolute;
        height: 40px;
        width: auto;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    div.img_pro div {
        scroll-snap-align: start;
    }

    /* Fifth section */
    div.ell2 {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
    }

    section.contact {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}