* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background-color: #463E3E;
}

header img {
    height: 50px;
    margin-left: 10px;
    transition: all 1s ease-in-out;
}

header img:hover {
    transform: rotate(90deg);
    transition: all 1s ease-in-out;
}

header .vertical-text {
    float: right;
    font-family: Kalnia, serif;
    margin-right: 10px;
    top: -1px;
    text-shadow: 2px 2px 4px #000000;
    color: #ffffff;
    font-size: 55px;
    font-weight: bolder;
    position: relative;
    z-index: 5;
}

header .vertical-text1 {
    float: left;
    font-family: Kalnia, serif;
    top: 55px;
    text-shadow: 2px 2px 4px #000000;
    margin: 2em auto;
    color: #463E3E;
    font-size: 55px;
    font-weight: bolder;
}

body {
    overflow: hidden;
    /* Empêche l'apparition de la barre de défilement */
}

div.container {
    width: 40%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(5, 120px);
    z-index: 5;
    float: inline-end;
    top: -73px;
    right: -150px;
}

.pict {
    height: 110px;
    animation: scrolling 1s ease-in;
}

div.item1 {
    animation: crolling 300ms ease-in-out;
}

div.item2 {
    grid-column: 2;
    grid-row: 1/span 2;
    animation: crolling 400ms ease-in-out;
}

div.item4 {
    grid-column: 1;
    animation: crolling 600ms ease-in-out;
}

div.item3 {
    grid-column: 3;
    grid-row: 1;
    padding-left: 20px;
    animation: crolling 500ms ease-in-out;
}

div.item6 {
    grid-row: 2 / span 2;
    grid-column: 3;
    padding-top: 70px;
    animation: crolling 800ms ease-in-out;
}

div.item7 {
    grid-column: 1 / span 2;
    grid-row: 4;
    text-align: center;
    animation: crolling 900ms ease-in-out;
}

div.item5 {
    grid-column: 3;
    animation: scrolling 700ms ease-in-out;
}

.pictA {
    height: 220px;
}

.pictC {
    height: 110px;
}

.pictF {
    height: 150px;
    padding-top: 40px;
}

.pictB {
    height: 180px;
}

.pictR {
    padding-top: 70px;
}

div.cercle {
    position: absolute;
    z-index: 0;
    background-color: #463E3E;
    border-radius: 50%;
    width: 650px;
    height: 650px;
    float: inline-end;
    right: -150px;
    top: -70px;
}

div.cercle1 {
    position: absolute;
    z-index: 0;
    background-color: #463E3E;
    border-radius: 50%;
    width: 1200px;
    height: 1200px;
    float: inline-end;
    right: -160px;
    top: -175px;
}

h1 {
    font-family: 'Montserrat', serif;
    font-weight: lighter;
    top: 70px;
    margin-left: 40px;
    font-size: 60px;
    color: #000000;
    z-index: 5;
}

section.intro-text {
    font-family: 'Montserrat', serif;
    transition: all 1s ease-in-out;
}

.intro-text:hover .description {
    font-weight: 500PX;
    width: 550px;
    transform: scale(1.1);
}

.intro-text:hover .tigre {
    height: 350px;
    opacity: 0.1;
}

.description {
    width: 550px;
    color: #463E3E;
    font-size: 30px;
    text-align: right;
    left: 220px;
    z-index: 5;
    top: 210px;
    position: absolute;
    transition: all 1s ease-in-out;
    animation: scrolling1 700ms ease-in;
}

.img-baobab1 {
    height: 90px;
    position: absolute;
    right: 100px;
    bottom: -15px;
    animation: scrolling1 500ms ease-in;
}

.img-baobab2 {
    height: 120px;
    position: absolute;
    right: 10px;
    bottom: -10px;
    animation: scrolling1 500ms ease-in;
}

.tigre {
    height: 400px;
    z-index: 10;
    position: fixed;
    left: -10px;
    bottom: -2px;
    transition: all 1s ease-in-out;
    animation: scrolling1 500ms ease-in;
}

.lettre,
.item {
    transition: all 500ms ease-in-out;
}

.lettre:hover {
    scale: 1.4;
}

.item:hover {
    opacity: 0.5;
}

.lettre1 {
    animation: scrolling 300ms ease-in;
}

.lettre2 {
    animation: scrolling 400ms ease-in;
}

.lettre3 {
    animation: scrolling 500ms ease-in;
}

.lettre4 {
    animation: scrolling 600ms ease-in;
}

.lettre5 {
    animation: scrolling 700ms ease-in;
}

.lettre6 {
    animation: scrolling 800ms ease-in;
}

.lettre7 {
    animation: scrolling 900ms ease-in;
}

@keyframes scrolling1 {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes scrolling {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes showPage {
    0% {
        transform: translate(30px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

img.MAKI,
img.snk {
    float: left;
    height: 550px;
    position: absolute;
    z-index: 4;
    bottom: 0%;
    animation: showPage 2s ease-in-out;
}

h1.title {
    color: #ffffff;
    font-family: 'Montserrat', serif;
    font-weight: lighter;
    top: 0px;
    right: 60px;
    float: right;
    position: relative;
    z-index: 4;

}

p.propos {
    text-align: center;
    width: 900px;
    margin-left: 430px;
    margin-top: 200px;
    float: right;
    position: absolute;
    font-family: 'Montserrat', serif;
    font-weight: 300;
    z-index: 20;
    color: #ffffff;
    font-size: 35px;
}